*{
    padding:0;
    margin:0;
    text-decoration:none;
    color:white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    overflow-x: hidden;
    /* background: white; */

}
.body{
    background:white;
    
}
#home{
    display:flex;
    background:#000000ef;
    justify-content:space-between;
    padding: 5px 3rem;
    font-weight:Regular 400;
    z-index:99;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}
.img-logo{
    background:transparent;
}
#home img{
    padding-top:.4rem;
    background: transparent;
}
#home button{
    background:transparent;
    display:inline-block;
    border:2px white solid;
    border-radius:4px;
    text-align:center;
    padding: .5rem 1rem;
    margin-right:6px;
    margin-top: -1rem;
}
#home button:hover{
    background:white;
    color:black;
    cursor:pointer;
    font-weight:bold;
}
#home span{
    display:inline-block;
    border:2px white solid;
    border-radius:4px;
    text-align:center;
    padding: .8rem 2rem;
}
#home span:hover{
    background:white;
    color:black;
    cursor:pointer;
    font-weight:bold;
}
.home-content{
    background: black;
    display:inline-block ;
    padding: 8rem 1rem;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    /* z-index: 99; */
}
.home-content h1{
    font-size: 3rem;
    font-weight: bold;
    margin-top: 1.5rem;
    background: black;

}
.home-content h1 span{
    color:#966bc6;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    background: black;

}
.home-content-text{
   
    background: black;
}
.home-content-text p{
    margin-top: 1rem;
    font-size: 1.2 rem;
    font-weight: bold;
    background:black;

}
.home-content-text p span{
    color:#966bc6;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    background: transparent;

}
.qfs-logo{
    background: black;
}
.qfs-logo img{
    width: 35rem;
    height: 20rem;
    border-radius: 1rem;
    box-shadow: #9567c9 .8px .8px 1px .8px;
}


.home-header{
    background:white;
    margin-bottom: 1rem;
}
.home-content-use{
    background:white;
    display: flex;
    align-items: center;
    padding:3rem 3rem;
    gap: 2rem;
}
.home-content-use h2{
    text-align: justify;
    color: #812fdf;
    line-height: 4rem;
    font-size: 1.6rem;
    font-weight: 500;
    background:white;

}
.home-content-use p{
    text-align: left;
    color: rgb(88, 88, 88);
    font-size:.8rem;
    line-height: 1rem;
    font-family: "Poppins", sans-serif;
    background:white;

}
.contenar{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: space-between;
    background:white;

}
.contenar img{
    width:2.3rem;
    height: 2.3rem;
    margin-top: -2.5rem;
    display: inline-block;
    position: absolute;
}
.list{
    margin-left: 2rem;
    background:white;
        /* background: red; */

}
.lines{
    background: transparent;
    border: #97979744 solid .1px;
}

.crypto-pack{
    display: inline-block;
    padding: 2rem 1rem;
    color: black;
    background: white;
}

.addvertisement{
    display: flex;
    padding: 1rem 3rem;
    gap: 2rem;
    background:white;
}
.img{
    width: 50%;
    background:white;
}
.addvertisement img{
    width: 90%;
}
.add-text{
    width: 30rem;
    margin-right: 1rem;
    margin-top: 2.5rem;
    text-align: left;
    background:white;

}
.add-text h2{
    font-size: 1.5rem;
    font-weight: 400;
    color:black;
    text-align: justify;
    background:white;

}
.add-text p{
    font-size: .8rem;
    color: rgb(88, 88, 88);
    text-align: left;
    line-height: 1rem;
    margin-top: 1rem;
    background:white;

}
.add-text button {
    background:#812fdf;
    font-weight: bold;
    display:inline-block;
    border:2px rgb(5, 4, 4) solid;
    border-radius:4px;
    text-align:center;
    padding: .5rem 1rem;
    margin-right:6px;
    margin-top: 1.5rem;
}
.add-text button:hover{
    background:white;
    color:black;
    cursor:pointer;
    font-weight:bold;
}

.home-content-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    padding: 2rem 6rem;
    gap: 2rem;
    background: white;
}
.home-content-list h2{
    font-size: 1.7rem;
    font-weight: bold;
    color:#812fdf;
    text-align: justify;
    background: white;

}
.home-content-list h3{
    color: black;
    text-align: justify;
    font-weight: bold;
    line-height: 2.5rem;
    font-size: 1rem;
    background: white;

}
.home-content-list p{
    color: rgb(88, 88, 88);
    font-size: .8rem;
    text-align: justify;
    background: white;
    

}
.line{
    width: 0;
    border: white solid .1px;
    height: 5rem;
    
}
footer{
    background: black;
    padding: 4rem 5.5rem;
    margin-top: 1rem;
    text-align: justify;

}
.footer-text {
    display: inline-block;
    text-align: justify;
    width: 100%;
    background: black;

}

.footer-text p{
    text-align: left;
    margin-top: 1rem;
    font-size: .8rem;
    color: rgb(88, 88, 88);
    width: 25rem;
    line-height: 1.2rem;
    background: black;

}

@media (max-width:1047px) {
    .add-text{
        width: 30rem;
    /* background:red; */

    }
    .home-content-list{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        padding: 2rem 3rem;
        gap: 1rem;
    }
    .contenar div img{
        margin-top: -3.5rem;
        position: absolute;
    }
   
    .list p{
        height: 5rem;
    }
}
@media (max-width:1020px) {
    .home-content-use h2{
        color: #812fdf;
        font-size: 1.4rem;
        line-height: 2.5rem;
    }
    .home-content-use p{
        display: inline-block;
        font-size:.7rem;
        line-height: 1rem;
        padding: .2rem;

    }
    
    .contenar img{
        width:2rem;
        height: 2rem;
        margin-top: -2.5rem;
        display: inline-block;
        position: absolute;
    }
    
}
@media (max-width:918px) {
    .qfs-logo img{
        width: 25rem;
        height: 15rem;
        
    }
    .home-content-text h1{
        font-size: 2rem;
    }
    .home-content-text p{
        font-size: .8rem;
    }

    .home-content-use{
        display:block;
        padding: 2rem 3rem;
    }
    .fir{
        margin-top: 1rem;
    }
    .list p{
        line-height: 1.3rem;
    }
    .home-content-use h2{
        color: #812fdf;
        font-size: 1.5rem;
    }
    .home-content-use p{
        font-size:.9rem;
    }
    .contenar{
        width: 90%;
        gap: 2rem;
    }
    .contenar img{
        width:3rem;
        height: 2rem;
        margin-top: -2rem;
        position: absolute;
    }
    .img{
        display: block;
        width: 100%;
    }
    .img img{
        width: 100%;
    }
    .crypto-pack{
        display: inline-block;
        padding: 2rem 5rem;
    }
    .addvertisement{
        display:inline-block;
        text-align: center;
        padding: 1rem 0;
    }
    .add-text{
        display: inline-block;
        text-align: center;
        width: 100%;
        line-height: 1rem;
    }
    .add-text h2{
        text-align: center;
        line-height: 3rem;
    }
    .add-text p{
        text-align: center;
        margin-top: 1rem;
        font-size: .8rem;
    }
    .home-content-list{
        display: inline-block;

    }
    .list-one{
        width: 90%;
    }
    footer{
        padding: 4rem 3rem;
    }
}
@media (max-width:688px) {
    .home-content-text img{
        width: 22rem;
        height: 10rem;
    }
    .home-content{
        display: inline-block;
        padding: 0;
        /* background: red; */

    }
    .home-content-text{
        display: inline-block;
        margin-top: 3.5rem;
        padding: 5rem 2rem;
        width: 90%;
    }
    .home-content-text h1{
        font-size: 1.6rem;
    }
    .home-content-text p{
        font-size: .8rem;
    }
    .contenar img{
        width:2rem;
        height: 1.5rem;
    }
    .list{
        margin-left: 1rem;
    }
    .list h2{
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    .list p{
        font-size: .7rem;
        line-height: 1rem;
    }
    .crypto-pack{
        padding: 0;
    }
    .addvertisement{
        padding: 1rem 3rem;
    }
    .list-one h2{
        font-size: 1.5rem;
    }
    .list-one h3{
        font-size: 1rem;
        line-height: 1.8rem;

    }
    .list-one p{
        font-size: .7rem;
        line-height: 1rem;
    }
}
@media (max-width:460px) {
    #home{
        padding: .8rem 1.2rem;
    }
    #home img{
        width: 3.5rem;
    }
    #home button{
        font-size: .8rem;
        width: 4rem;
    }
    #home span{
        font-size: .8rem;
        padding: 1rem 1rem;
    }
    .qfs-logo img{
        width: 17rem;
    }
    .home-content-text{
        padding: 4rem 0;
        display: inline-block;

    }
    .home-content-text h1{
        display: inline-block;
        font-size: 1.9rem;
        width: 20rem;
        line-height: 2.5rem;
        text-align: center;
    }
    .home-content-text p{
        width: 20rem;
        display: inline-block;
        font-size: 12px;
        line-height: 1.2rem;

    }
    .home-content-use{
        padding: 1.5rem 1.5rem;
    }
    .addvertisement{
        padding: 1.5rem 1.5rem;
    }
    .home-content-list{
        padding: 1.5rem 1.5rem;
    }
    footer{
        padding: 1.5rem 1.5rem;
    }
    .footer-text p{
        text-align: left;
        line-height: 1.1rem;
        width: 95%;
    }
}


/* login css */

